$base: var(--base);
$light: var(--light);
$mid: var(--mid);
$faded: var(--faded);

$purple-light: var(--purple-light);
$purple: var(--purple);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg-md: 800px;
$lg: 992px;
$xl: 1200px;
