@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@font-face {
  font-family: 'Quality Control';
  src: url(/src/assets/fonts/Qualitycontrol.ttf);
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --base: rgb(27, 27, 28);
  --light: rgba(21, 225, 164, 0.678);
  --mid: rgb(29, 179, 134);
  --faded: rgb(29, 179, 134, 0.1);
  --purple-light: #f0e9fd;
  --purple: #7637ee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--base);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Sometype Mono', monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
