@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.container {
  padding: 30px;
}

a {
  color: var(--turq-200);
  text-decoration: underline;
}

strong {
  font-weight: 600;
}
