@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;

  padding: 1rem;

  @media (min-width: 576px) {
    padding: 2rem;
  }
}

.container {
  padding: 15px;

  @media (min-width: 576px) {
    padding: 30px;
  }
}

a {
  color: var(--turq-200);
  text-decoration: underline;
}

strong {
  font-weight: 600;
}
